<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- 에러 처리 -->
	<!-- Forbidden, 접근이 거부된 문서를 요청함 -->
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsp?errCode=403</location>
	</error-page>
	<!-- Not found, 문서를 찾을수 없음 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp?errCode=404</location>
	</error-page>
	<!-- Internal server error, 내부서버 오류(잘못된 스크립트 수행시) -->
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp?errCode=500</location>
	</error-page>
	<!-- Not Implemented, 클라이언트에서 서버가 수행할 수 없는 행동을 요구함-->
	<error-page>
		<error-code>501</error-code>
		<location>/error.jsp?errCode=501</location>
	</error-page>
	<!-- Service unavailable, 외부 서비스가 죽었거나 현재 멈춤 상태-->
	<error-page>
		<error-code>503</error-code>
		<location>/error.jsp?errCode=503</location>
	</error-page>
	
	<!-- filter -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/*context.xml</param-value>
	</context-param>
	
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- spring session listner -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<!-- spring httpServletRequest -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/springmvc/dispatcher-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<!-- 시간단위는 분  -->
		<session-timeout>60</session-timeout>
	</session-config>

</web-app>
